**/.vs/
*.aux
*.lof
*.log
*.out
*.gz
*.toc
*.lock
*.zip
*.pdb
myMD_Abschlusspräsentation.pdf
myMD_Abschlusspräsentation2.pdf
!Kit_Logo.pdf
!MyMD_Anmerkungen_Viola_Pelcz.pdf
!Entwurfsdokument Bsp enCourage.pdf
!Pflichtenheft Bsp enCourage.pdf
Medox_Tutorial_Dokument_Short.pdf
Medox Proposal.pdf
*.mp4