<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net461" />
  <package id="Xam.Plugin.Media" version="3.1.3" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.5.1.444934" targetFramework="net461" />
  <package id="Xamarin.UITest" version="2.2.4" targetFramework="net461" />
</packages>